{% extends 'AppBiblioteca/base.html' %}

{% block ContenidoQueCambia %}
<h1>Página de Inicio</h1>

<!-- Formulario de búsqueda -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

<!-- Mostrar resultados de búsqueda -->
{% if libros %}
    <h2>Resultados de búsqueda:</h2>
    <ul>
        {% for libro in libros %}
            <li>
                <!-- Mostrar la imagen de la portada si existe -->
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}" width="100" style="vertical-align:middle; margin-right:10px;">
                {% endif %}
                <!-- Mostrar detalles del libro -->
                {{ libro.titulo }} - {{ libro.autor }} - {{ libro.fecha_publicacion }} - 
                {% if libro.disponible %}
                    Disponible
                {% else %}
                    No disponible
                {% endif %}
            </li>
        {% empty %}
            <li>No se encontraron libros.</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
