{% extends 'AppBiblioteca/base.html' %}

{% block ContenidoQueCambia %}

<h2>Autores</h2>
<!-- Mostrar mensajes de error o éxito -->
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<ul>
    {% for autor in autores %}
        <li>{{ autor.nombre }} {{ autor.apellido }}</li>
        <ul>
            {% for libro in autor.libro_set.all %}
                <li>{{ libro.titulo }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
<h3>Agregar Autor</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

{% endblock %}
